@{
    ViewBag.Title = "Connection Counter and Server Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Current server time: <span id="clientConnectionCount"></span></h2>
<h2>Connected Clients (using Hubs): <span id="clientConnectionCountHubs"></span></h2>

<script src="/Scripts/jquery.signalR-0.5.3.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    function startListeningToServerClock() {
        var connection = $.connection("/clock");

        connection.received(function (data) {
            $("#clientConnectionCount").html(data);
        });
        connection.start();
    }
    
    function startListeningToServerCount() {
        var connectionHub = $.connection.connectionCounterHub;

        connectionHub.updateConnectionCount = function (count) {
            $("#clientConnectionCountHubs").html(count); //html("data update" + count);
        };

        $.connection.hub.start();
    }
    
    $(function() {
        startListeningToServerClock();

        startListeningToServerCount();
    });
</script>
