@{
	ViewBag.Title = "Bids";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h1>Bids for: <span>Lego auction</span></h1>

	<div class="row">
		<ul>
			<li data-bind="foreach: bids">
				<p>
					Bidder: <span data-bind="text: bidder">Fredrik</span>
					<br />
					Amount: <span data-bind="text: amount">50</span>
				</p>
			</li>
		</ul>
	</div>

	<div class="row">
		<h3>Place bid</h3>
		<span class="span2">
			<input type="text" data-bind="value: newBidder" class="input-small" placeholder="Bidder" />
			<input type="text" data-bind="value: newBidAmount" class="input-small" placeholder="Amount" />
			<button class="btn btn-primary" data-bind="click: addBid">Place bid</button>
		</span>
	</div>
</div>
@*<div data-bind="text: ko.toJSON($root, null, 2)"></div>*@
@section scripts
{
    @Scripts.Render("~/Scripts/ViewModels/bidds.js")
}
