<div class="container">
	<h1>Auctions</h1>
	<div data-bind="foreach: auctions">
		<div class="row well">
			<a data-bind="attr: { href: url }">
				<h3 class="span12" data-bind="text: title">Lego auction</h3>
			</a>
			<span class="span3">
				<img data-bind="attr: { src: image }" width="50" height="50" />
			</span>
			<b class="span1">Seller:</b>
			<b class="span3" data-bind="text: seller">Kalle</b>
			<div class="span10" data-bind="text: description">The best lego ever made</div>
		</div>
		<hr />
	</div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/ViewModels/Auction.js")
}
